<header class="header">
  <button
    tuiIconButton
    type="button"
    iconStart="@tui.menu"
    appearance="icon"
    size="xs"
    class="header__side-bar-open-icon"
    (click)="updateSideBarMenuState(true)"
  ></button>

  <div class="header__actions">
    <app-language-switcher
      (langChange)="onLanguageChange($event)"
    />
    <app-account-menu
      [user]="user()"
    />
  </div>

  <tui-drawer
    *tuiPopup="sideBarMenuState()"
    direction="left"
    class="header__side-bar-wrapper"
    [overlay]="true"
    (click.self)="updateSideBarMenuState(false)"
  >
    <div class="header__side-bar-header">
      <button
        tuiIconButton
        type="button"
        class="header__menu-icon"
        iconStart="@tui.circle-x"
        appearance="icon"
        size="m"
        (click)="updateSideBarMenuState(false)"
      ></button>
    </div>

    <app-side-bar
      (selectItem)="updateSideBarMenuState(false)"
    />
  </tui-drawer>
</header>
