.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px var(--app-space-m);
  height: 45px;

  &__side-bar {
    &-header {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }

    &-wrapper {
      top: 0;
      width: 100%;
      max-width: 250px;
      background-color: #f9fafb;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
