@use '@taiga-ui/core/styles/taiga-ui-local';
@use 'media' as media;

.side-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: #565e73;
    padding: 6px 10px;
    border-radius: 10px;
    font-weight: bold;

    &:not(.active):hover {
      background-color: rgba(0, 0, 0, 0.04);
      color: #212636;
    }
  }

  .active {
    background-color: rgba(0, 0, 0, 0.04);
    color: #212636;
  }
}
